body{
    font-size: 14px;
    font-family:Arial, sans-serif;
    color: #222;
}

a {
    text-decoration: none;
    color:#70757a;
}

a:hover {
    text-decoration: underline;
}


#searchbox {
    width: 100%;
}

#parent-search-box {
    position: absolute;
    display: flex;
    justify-content: center;
    top:30%;
    padding: 40px;
}

#buttons-search-box {
    display: flex;
    justify-content: space-evenly;
}

header{
    width: 10%;
    position: absolute;
    right:0px;
}

.container{
    width: 100%;
    display: flex;
}

#head{
    display:flex;
    justify-content: space-evenly;
    width: 20%;
}

input{
    border-radius: 5%;
    border-color:gray;
}

button{
    border: none;
    background-color: white;
}

button:hover{
    border: black solid 1px;
}

footer {
    font-size: 15px;
    color: #0000008a;
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


#foot {
    background-color: #f2f2f2;
    display:flex;
    position:fixed;
    bottom:0px;
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer div{
    display: flex;
    flex: 1 1 200px;
    max-width: 500px;
    justify-content: space-betweens;
    flex-direction: row;
}